create database [QL_QUANCAFE1]
go
USE [QL_QUANCAFE1]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [nvarchar](100) NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](1000) NOT NULL,
	[TYPEACCOUNT] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMETABLE] [nvarchar](100) NOT NULL,
	[NAMEFOOD] [nvarchar](100) NOT NULL,
	[COUNTS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[NAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD](
	[NAME] [nvarchar](100) NOT NULL,
	[NAMECATEGORY] [nvarchar](100) NOT NULL,
	[PRICE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLEF](
	[NAME] [nvarchar](100) NOT NULL,
	[STT] [nvarchar](10) NOT NULL,
	[TOTAL] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

Create table GIOITINH
(
	MAPHAI bit primary key NOT NULL,
	PHAI nvarchar (5) NOT NULL,
)
Create table VITRI
(
	MAVT int identity(1,1) primary key NOT NULL, 
	TENVT nvarchar (10) NOT NULL,
)
Create table NHANVIEN
(
	MANV int identity (1,1) primary key NOT NULL,
	TENNV nvarchar (30) NOT NULL,
	NGAYSINH datetime,
	MAPHAI bit NOT NULL,
	DIACHI nvarchar (50) NOT NULL,
	SDT varchar (15) NOT NULL,
	MAVT int NOT NULL,
	LUONG float NOT NULL,
	foreign key(MAPHAI) references GIOITINH (MAPHAI),
	foreign key([MAVT]) references [VITRI] ([MAVT]),
)

select *from NHANVIEN

INSERT NHANVIEN VALUES (N'Nguyễn Kim Phượng','05/08/1998','0',N'371 Ðiện Biên Phủ P.24 Q.Bình Thạnh','0938373728',1,'3000000' )
INSERT NHANVIEN VALUES (N'Nguyễn Quang Trọn','08/24/1998','1',N'Hẻm 86 Phan Văn Hân P.17 Q.Bình Thạnh','01639331034',2,'5000000' )
INSERT NHANVIEN VALUES (N'Nguyễn Văn Bằng','06/21/1998','1',N'Quận 8','01678844350',2,'5000000' )

INSERT  GIOITINH values('0',N'Nam');
INSERT  GIOITINH values('1',N'Nữ');
----------------------------------------------------------------------------------------------------
INSERT  VITRI values(N'Phục vụ');
INSERT  VITRI values(N'Pha Chế');
INSERT  VITRI values(N'Tạp vụ');

GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'admin', N'Quản Lý 1', N'admin', N'ADMIN')
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'admin2', N'Quản Lý 2', N'admin', N'ADMIN')
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'kata', N'Ka Ta 1', N'kata', N'CASHIER')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'CAFE')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'Kem')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'Nước ngọt')
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'7 up', N'Nước ngọt', 10000)
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'CF đá', N'CAFE', 10000)
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'CF đen', N'CAFE', 10000)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 01', N'TRONG', 0)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 02', N'TRONG', 0)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 03', N'TRONG', 0)
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (N'NO NAME..') FOR [DISPLAYNAME]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ('0000') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (N'CASHIER') FOR [TYPEACCOUNT]
GO
ALTER TABLE [dbo].[BILL] ADD  DEFAULT ((1)) FOR [COUNTS]
GO
ALTER TABLE [dbo].[FOOD] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[TABLEF] ADD  DEFAULT (N'TRONG') FOR [STT]
GO
ALTER TABLE [dbo].[TABLEF] ADD  DEFAULT ((0)) FOR [TOTAL]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([NAMETABLE])
REFERENCES [dbo].[TABLEF] ([NAME])
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([NAMEFOOD])
REFERENCES [dbo].[FOOD] ([NAME])
GO
ALTER TABLE [dbo].[FOOD]  WITH CHECK ADD FOREIGN KEY([NAMECATEGORY])
REFERENCES [dbo].[CATEGORY] ([NAME])
GO
